*.iml
*.jks

.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/codeStyles
/.idea/gradle.xml
/.idea/caches
.DS_Store
/build
/captures
.externalNativeBuild

# built application files
*.apk
*.ap_
