<?xml version="1.0" encoding="utf-8"?>

<!--
RS-Herrieden
Copyright (C) 2018  Noah Seefried and Moritz Fromm

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.seefried.rsh">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:description="@string/app_description"
        android:supportsRtl="true"
        android:theme="@style/MyTheme"
        android:versionCode="5"
        android:versionName="0.5.4"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name="de.seefried.rsh.activity.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".activity.RepresentationWidget">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetprovider" />

        </receiver>

        <activity
            android:name="de.seefried.rsh.activity.LinksActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_title_links">
        </activity>

        <activity
            android:name="de.seefried.rsh.activity.SettingsActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_title_settings">
        </activity>

        <activity
            android:name="de.seefried.rsh.activity.TodoListActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_title_todo">
        </activity>

        <activity
            android:name="de.seefried.rsh.activity.StatusActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_title_status">
        </activity>

    </application>

</manifest>